# System size
501

# Non-zero-padded sizes (Bragg spacing: 3,4,6)
167 125 83

# Left zero padding
167 188 209

# Continuous intensity file
data/anton_50pr_501_subt_zero.raw

# Bragg file
data/ps2_bragg.raw

# Support file
data/ps2_1_3.5.supp

# Starting model
data/ps2obj.ra

# Quaternion file
quat_0.5.dat

# FFTW wisdom file
data/wisdom_427_4

# qmax for Braggs
0.6
