# System size
501

# Non-zero-padded sizes (Bragg spacing: 3,4,6)
167 125 83

# Left zero padding
167 188 209

# Continuous intensity file
data/anton_50pr_501_subt_zero.raw

# Bragg file
data/hkl_167_125_83_orig.cpx

# Support file
data/out3d_501_tight.supp

# Starting model
data/output_19.raw

# Quaternion file
quat_0.5.dat

# FFTW wisdom file
data/wisdom_501_16

# qmax for Braggs
0.6
